@using static Global.Models.Usuario
@model Usuario

<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="HabitosSaude">Habitos de Saúde</label>
    <input asp-for="HabitosSaude" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="AtSaudePub">Campanha Saúde Pública</label>
    <select class="form-select" asp-for="AtSaudePubId" asp-items="@ViewBag.campanhas">
        <option>Selecione</option>
    </select>
</div>


<div class="mb-3">
    <label asp-for="PraticaEsporte">Pratica Esporte?</label>
    <input asp-for="PraticaEsporte" />
</div>

