@model Usuario

@{
    ViewData["Title"] = "Cadastrar Usuario";
}

<h1>Cadastrar Usuário</h1>

<a asp-action="Listar">Usuário</a>
<form asp-action="Cadastrar">
    <partial name="_Form"></partial>
    <botao></botao>
</form>
