@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Saúde Primeiro Lugar!</h1>
    <a asp-action="Cadastrar" asp-controller="Usuario">faça seu Cadastro agora!</a>
</div>
