@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Saúde Primeiro Lugar!</h1>
    <a asp-action="Cadastrar" asp-controller="Usuario">faça seu Cadastro agora!</a>
    <br />
    <div>
        <h1>HealthHub</h1>
        <p>Bem-vindo ao HealthHub, seu parceiro dedicado para uma vida saudável e consciente!</p>
        <p>Revolucionamos a gestão da saúde com uma plataforma intuitiva e personalizada.</p>
        <h2>Principais Características</h2>
        <ul>
            <li><strong>Registro Simples</strong>: Sua jornada para o bem-estar começa com o fácil registro de informações essenciais.</li>
            <li><strong>Personalização</strong>: Dados cruciais, como peso, altura, hábitos de saúde, alimentação e sono, são usados para personalizar sua experiência.</li>
            <li><strong>Sugestões Personalizadas</strong>: Oferecemos sugestões do calendário de saúde governamental, alinhadas com suas características individuais.</li>
            <li><strong>Esclarecimento de Dúvidas</strong>: No futuro queremo implementar uma aba exclusiva permite esclarecer dúvidas com o GPT, incluindo recomendações médicas personalizadas.</li>
            <li><strong>Atualizações Mensais</strong>: Mantemos você informado com atualizações mensais do Ministério da Saúde, abordando conscientização e prevenção de doenças.</li>
        </ul>
        <h2>Objetivo do App</h2>
        <ul>
            <li>Simplificar a gestão da saúde, proporcionando orientações personalizadas e informações relevantes.</li>
            <li>Comprometimento em promover um estilo de vida saudável e consciente.</li>
            <li>Viva melhor, sinta-se melhor, seja melhor. Bem-vindo ao HealthHub, onde sua saúde está no centro de tudo que fazemos.</li>
        </ul>

        <h2>Etapas de navegação e cadastro em um site de campanhas de saúde pública</h2>

        <ol>
            <li>
                <strong>Cadastro de campanha</strong>
                <p>O usuário deve preencher um formulário com as informações básicas da campanha, como nome da campanha/titulo, descrição da campanha, público-alvo e data da campanha.</p>
            </li>
            <li>
                <strong>Cadastro de usuário</strong>
                <p>O usuário deve preencher um formulário com suas informações pessoais.</p>
            </li>
            <li>
                <strong>Seleção de campanha</strong>
                <p>O usuário deve selecionar a campanha em que deseja participar/concientizar.</p>
            </li>
            <li>
                <strong>Cadastro de dados suplementares</strong>
                <p>O usuário pode opcionalmente cadastrar dados suplementares de saúde, como peso, altura, idade, sexo.</p>
            </li>
        </ol>

    </div>
    
</div>
