@using static Global.Models.DadosSuplementaresUsr
@model DadosSuplementaresUsr


<div class="mb-3">
    <label asp-for="Idade"></label>
    <input asp-for="Idade" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Peso"></label>
    <input asp-for="Peso" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Altura"></label>
    <input asp-for="Altura" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="UsuarioId">Usuário Id</label>
    <input asp-for="UsuarioId" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Sexo"></label>
    <select asp-for="Sexo" asp-items="@Html.GetEnumSelectList<Sexo>()" class="form-control">
        <option>Selecione</option>
    </select>
</div>

