@model DadosSuplementaresUsr

@{
    ViewData["Title"] = "Cadastrar Dados Suplementares";
}

<h1>Cadastrar Dados Suplementares</h1>

<a asp-action="Listar">Listar Dados Suplementares</a>
<form asp-action="Cadastrar">
    <partial name="_Form"></partial>
    <botao></botao>
</form>
